.noscroll{
	overflow-y: hidden;
}
.search-form-conta {
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 10px;
    position: relative;
    left: 73%;
}
.channel-card-container {
    text-align: center;
    background-color: #bdc3c7;
    border-radius: 5px;
    padding-top: 16px;
}
.channel-card-container .list-group {
    text-align: left;
}
.channel-card-container .list-group-item {
    border-radius: 0px;
}
.channel-card-container h3 {
    color: #2c3e50;
}
.channel-card-container img {
    border: 1px solid #7f8c8d;
    border-radius: 20px;
}
.card-min {

    min-height: 194px;

}
.channel-card-container a:hover {
    text-decoration: none;
}
.channel-card-container a {
    color: #000;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

pre {
    width: 100%;
    overflow-x: auto;
    max-height: 89px;
    border: none;
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#tbl-channels-list .btn.btn-danger {
    width: 59px;
    padding: 6px 0px;
}

.insta-incon-con i {
    font-size: 37px;
    float: left;
    margin-right: 12px;
}

.insta-incon-con {
    height: auto;
    margin: 12px 0px;
}
#imaginary_container{
    margin-bottom:30px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}